// Place all the styles related to the director/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-row {
  display: flex;
  flex-wrap: wrap;
  .dash-box {
    padding: 10px;
    margin: 20px;
    border-radius: 2px;
    background-color: #eee;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
    height: 100%;
  }
}

.row {
  margin-bottom: 10px;
}