<h1> All Kids </h1>

<table>
  <tr>
    <th> First Name </th>
    <th> Last Name </th>
    <th />
    <th />
  </tr>

  <% @kids.each do |kid| %>
    <tr>
      <td> <%= kid.first_name %> </td>
      <td> <%= kid.last_name %> </td>
      <td> <%= link_to "View", kid_path(:id => kid.id) %> </td>
      <td> <%= link_to "Edit", edit_kid_path(:id => kid.id) %> </td>
  <% end %>

</table>
