<h1 class="text-center"> All Counselors </h1>

<table class="table table-striped">
  <tr>
    <th> First Name </th>
    <th> Last Name </th>
    <th> Alias </th>
    <th />
  </tr>
  <% @counselors.each do |counselor| %>
    <tr>
      <td> <%= counselor.user.first_name %> </td>
      <td> <%= counselor.user.last_name %> </td>
      <td> <%= link_to counselor.alias, counselor_path(:id => counselor.id) %> </td>
      <td><%= link_to "Edit Counselor", edit_counselor_path(:id => counselor.id) %> </td>
    </tr>
  <% end %>
</table>
