<div class="col-sm-offset-1 col-sm-10">
  <h1>Groups</h1>
  <%= link_to new_director_group_path, class:"btn fl-r" do %>
    Add Group
  <% end %>
  <h3> Total Groups: <%= @groups.count %></h3>
</div>

<% if @groups.count != 0 %>
<%= render 'layouts/card_list', card_size: "6", objects: [@groups], type: "group", role: "d" %>
<% end %>