<%= render 'layouts/card_list', card_size: "10", objects: [[@parent]], type: "parent", role: "p" %>

<div class="row">
  <h3 class="col-md-offset-1">Kids: </h3>
</div>

<%= render 'layouts/card_list', card_size: '6', objects: [@kids], type: "kid", role: "p" %>

<div class="row">
<%= link_to new_parent_kid_path, class:"btn btn-success col-md-offset-1" do %>
  <i class="glyphicon glyphicon-plus"></i> Add Kid
<% end %>
