<h1>Welcome to CampZone!</h1>
<br />

<h3>Are you a new Director?</h3>
<%= link_to ("Create a Director Account!"), new_director_director_path %>
<br />


<h3>Ready to have a blast leading kids this summer?</h3>
<%= link_to ("Login to your Counselor Account"), councelor_profile_path %>
<br />


<h3>Can't wait to send your kids off for the Summer?</h3>
<%= link_to ("Create a Parent Account to Sign them up!"), new_parent_parent_path %>
<br />

<h3>Already have an Account?</h3>
<%= link_to ("Login Here"), login_path %>
<br />