<div class="row">
  <div class="col-xs-offset-1">
    <h1>Card Test</h1>
    <h2>Counselor card</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-offset-1">
    <h1>Card Test</h1>
    <h2>Kid card</h2>
  </div>
</div>

<div class="row">
  <%= render 'layouts/card_list', objects: [@kids], type: "kid", role: "d" %>
</div>
