/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

@import "top_nav";

body {
  margin-top: 70px;
  background-color: #5FB0B7;
  font-family: 'Work Sans', sans-serif;
}

.fl-r {
  float: right;
}
.fl-l {
  float: left;
}
.al-l {
  text-align: left;
}
.al-c {
  text-align: center;
}
.al-r {
  text-align: right;
}
.cl-b {
  clear: both;
}
.visible-xs {
  display: none;
}
.visible-sm {
  display: none;
}
.visible-md {
  display: none;
}
.hidden-lg {
  display: none;
}

@media screen and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
  .visible-md {
    display: inline;
  }
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
  .visible-sm {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  body {
    margin-top: 110px;
  }
  .fl-r-xs {
    float: right;
  }
  .fl-l-xs {
    float: left;
  }
  .al-l-xs {
    text-align: left;
  }
  .al-c-xs {
    text-align: center;
  }
  .al-r-xs {
    text-align: right;
  }
  .cl-b-xs {
    clear: both;
  }
  .hidden-xs {
    display: none;
  }
  .visible-xs {
    display: inline;
  }

  // COLUMNS -------------------------------
  
  .col-xs-0 {
    width: 0%;
  }
  .col-xs-1 {
    width: 8.333333333%;
  }
  .col-xs-2 {
    width: 16.666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.333333333%;
  }
  .col-xs-5 {
    width: 41.666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.333333333%;
  }
  .col-xs-8 {
    width: 66.666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.333333333%;
  }
  .col-xs-11 {
    width: 91.666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }

}