/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

@import "top_nav";

body {
  margin-top: 70px;
  background-color: #5FB0B7;
  font-family: 'Work Sans', sans-serif;
}

.fl-r {
  float: right;
}
.fl-l {
  float: left;
}
.al-l {
  text-align: left;
}
.al-c {
  text-align: center;
}
.al-r {
  text-align: right;
}
.cl-b {
  clear: both;
}

@media screen and (max-width: 767px) {
  body {
    margin-top: 110px;
  }
  .fl-r-xs {
    float: right;
  }
  .fl-l-xs {
    float: left;
  }
  .al-l-xs {
    text-align: left;
  }
  .al-c-xs {
    text-align: center;
  }
  .al-r-xs {
    text-align: right;
  }
  .cl-b-xs {
    clear: both;
  }
}