.card-list {
  background-image: 
    linear-gradient(
      to bottom right,
      #ccc, #666
    );
  -webkit-box-shadow: inset -2px -2px 12px 5px rgba(0,0,0,0.53);
  -moz-box-shadow: inset -5px -5px 12px 5px rgba(0,0,0,0.53);
  box-shadow: inset -2px -2px 20px 4px rgba(0,0,0,0.33);
  border-radius: 4px;
  border: 2px #888 solid;
  padding: 10px;
  margin: 15px 7px;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  .card {
    background-color: #e3e3e3;
    text-align: left;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
    .card-contents {
      display: flex;
      justify-content: space-between;
      .card-avatar {
        flex: 1;
        justify-content: flex-start;
        img {
          height: 100%;
        }
        
      }
      .card-info {
        flex: 4;
        padding-left: 10px;
        flex-flow: row wrap;
        align-self: flex-end;
        .card-title {
          flex: 1;
          align-self: flex-start;
        }
        .card-details {
          display: flex;
          flex-flow: row nowrap;
          .attr-keys {
            align-self: space-around;
          }
          .attr-values {
            align-self: center;
          }
          p {
            padding: 2px 5px;
            margin: 2px 5px;
          }
        }
        
      }
    }
  }
}

@media (min-width: 991px) {
  .card-list {
    .card {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 767px) {
  .card-list {
    border-radius: 0;
    margin: 15px 0;
    padding: 0;
    article {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      .card {
        width: 100%;
      }
    }
  }
}