@import "application";

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 70px;

  ::-webkit-input-placeholder { /* Chrome */
    color: #333;
    font-weight: 300;
    font-size: .85em;
    font-style: italic;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #333;
    font-weight: 300;
    font-size: .85em;
    font-style: italic;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #333;
    opacity: 1;
    font-weight: 300;
    font-size: .85em;
    font-style: italic;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #333;
    opacity: 1;
    font-weight: 300;
    font-size: .85em;
    font-style: italic;
  }
}

.form-control {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 2em;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }
  background-color: transparent;
  &:active,
  &:focus {
    outline: none;
    border-bottom-width: 2px;
    background-color: lighten($default-bg-color, 20%)
  }
}