<section class="col-sm-offset-1 col-sm-10 card-list">
  <% people.each do |person| %>
    <article class="col-md-<%= card_size %>">
      <%= render "layouts/#{type}_card", person: person %>
    </article>
  <% end %>
</section>