<nav class="nav navbar-default nav-pills">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Campers</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li class="navbar-text">Welcome, <%= current_user.first_name %> - <%= current_user.role %></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>